{{#each this}}
<div class="tittle-contry">
  <img src='{{flags.svg}}' alt='{{name.official}}' width='100' height='50'  />
  <p><b>{{name.official}}</b></p>
</div>
<div>
  <p><b>Capital</b>: <span>{{capital}}</span></p>
  <p><b>Population</b>: <span>{{population}}</span></p>

  <p class="lang-list"><b>Languages:</b>
  <ul>
      {{!-- {{#each languages}}
      <li>{{this}}</li>
      {{/each}} --}}

      {{#each languages}}{{#if @join}}<li>{{this}}</li>{{/if}} {{/each}}
  </ul>
  
  </p>

</div>
{{/each}}

{{!-- 
{#each languages}}
  <p><b>Languages</b>: {{languages}}</p>
{{/each}} --}}