{{#each this}}
<div class="tittle-contry">
  <img src='{{flags.svg}}' alt='{{name.official}}' width='100' height='50'  />
  <p><b>{{name.official}}</b></p>
</div>
<div>
  <p><b>Capital</b>: <span>{{capital}}</span></p>
  <p><b>Population</b>: <span>{{population}}&nbsp;people</span></p>

  <ul class="lang-list">
    <li><b>Languages:&nbsp;</b></li>
          {{#each languages}}
          {{#if @last}}
          <li>{{this}}</li>
          {{else}}
          <li>{{this}},&nbsp;</li>
          {{/if}}
          {{/each}}
  </ul>
{{!-- Я два раза голову сломал что бы этот кусочек кода построить --}}

</div>
{{/each}}

