{{#each this}}
<div class="tittle-contry">
  <img src='{{flags.svg}}' alt='{{name.official}}' width='200' height='100'  />
  <p class="text"><b>{{name.official}}</b></p>
</div>
<div>
  <p class="text"  ><b>Capital</b>: <span>{{capital}}</span></p>
  <p class="text" ><b>Population</b>: <span>{{population}}&nbsp;people</span></p>

  <ul class="lang-list">
    <li class="text"><b>Languages:&nbsp;</b></li>
          {{#each languages}}
          {{#if @last}}
          <li class="text">{{this}}</li>
          {{else}}
          <li class="text">{{this}},&nbsp;</li>
          {{/if}}
          {{/each}}
  </ul>
{{!-- Я два раза голову сломал что бы этот кусочек кода построить --}}

</div>
{{/each}}

